.employees-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.employees-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
}
.employees-content-component {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-background);
}
.employees-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.employees-container3 {
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.employees-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-gray-white);
}
